@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Pacifico');

body {
  background-color: #DEA370;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }

#title {
  font-family: "Pacifico";
  text-decoration: underline;
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  line-height: 30px;
}
#title span {
  font-size: 20px;
  text-decoration: none !important;
}
#outer {
  width: 300px;
  margin: auto;
  border: 2px solid blue;
  border-bottom-width: 8px;
  border-radius: 10px;
  background-color: #4A94F4;
  box-shadow: 15px 8px 10px #999999;
}
#screen {
  font-family: "Didact Gothic";
  width: 270px;
  height: 60px;
  background-color: #e6e6e6;
  border: 15px solid #4A94F4;
  border-radius: 30px;
  text-align: right;
}
#screen span {
  margin-right: 10px;
}
#value {
  line-height: 35px;
  font-size: 30px;
}
#equation {
  color: grey;
}
#output {
  position: relative;
  width: 250px;
  height: 60px;
  background-color: white;
  left: 25px;
  top: 10px;
}
#board {
  width: 100%;
  height: 100%;
  background-color: #076DF2;
  border-spacing: 10px;
  border-radius: 5px;
}
td {
  background-color: #4A94F4;
  border: 1px solid blue;
  border-bottom-width: 4px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  font-size: 20px;
}
td:hover {
  cursor: pointer;
}
td:active {
  border: 1px solid blue;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

#tasks {
  width: 300px;
  text-align: left;
  margin: auto;
  font-size: 20px;
}
#tasks ul {
  margin: 0px;
  list-style-type: disc;
}